<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>30266852610-reedgfdcofjp0t8ehof3bl6spfl35qcs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.30266852610-reedgfdcofjp0t8ehof3bl6spfl35qcs</string>
	<key>API_KEY</key>
	<string>AIzaSyDSyjA_1kdj9IJJQ4Dxxyekn52oJ9rTlFI</string>
	<key>GCM_SENDER_ID</key>
	<string>30266852610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meyrick</string>
	<key>PROJECT_ID</key>
	<string>meyrick-70d84</string>
	<key>STORAGE_BUCKET</key>
	<string>meyrick-70d84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30266852610:ios:a204c0fe239b6f6556ae1b</string>
</dict>
</plist>